*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
background-image: url(https://img.freepik.com/free-vector/gradient-football-field-background_52683-66772.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
height: 100vh;
margin: 0;
}

